.main-container {
  display: flex;
  padding: 20px;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.order-container,
.menu-container {
  flex: 1;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.category-container {
  flex: 1 1;
  text-align: center;
  background-color: #ff0000;
  padding: 20px;
  border-radius: 10px;
  color: #ffc72c;
}

.category-container span {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 700;
}

.selected {
  font-weight: bold;
  color: #fff;
}

button {
  background-color: #ff6500;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #ff5500;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.order-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.order-item {
  margin-right: 10px;
}

.order-header button {
  background-color: #ff0000;
}

.order-header button:hover {
  background-color: #cc0000;
}
